.vitals-grid {
    grid-area: vitals;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.vital-card {
    background-color: var(--bg-light);
    border-radius: 25px;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.vital-icon {
    font-size: 1.8rem;
    padding: 1rem;
    border-radius: 15px;
}

.vital-icon i {
    font-size: 3rem;
}

.vital-icon.heart-rate {
    color: var(--accent-pink);
}

.vital-icon.oxygen-level {
    color: var(--accent-blue);
}

.vital-icon.body-temp {

    color: var(--accent-orange);
}


.vital-details {
    flex-grow: 1;
}

.vital-details h4 {
    font-size: 1.6rem;
    font-weight: 600;
}

.vital-details p {
    color: var(--text-secondary);
}

.vital-reading {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.vital-reading .value {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
}

.vital-reading .unit {
    font-size: 1rem;
    color: var(--text-secondary);
}